// Estilos global

@import "Styles/global";

// Estilos header

@import "Styles/header";

// Estilos Slider 

@import "Styles/slider";

// Estilos Card

@import "Styles/Cards";

// Estilos Catalog

@import "Styles/catalog";

// Estilos Footer

@import "Styles/footer";